<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|80","right":"var:preset|spacing|80","bottom":"var:preset|spacing|80","left":"var:preset|spacing|80"},"blockGap":"var:preset|spacing|50"}},"className":"header","layout":{"type":"constrained"}} -->
<div class="wp-block-group header" style="padding-top:var(--wp--preset--spacing--80);padding-right:var(--wp--preset--spacing--80);padding-bottom:var(--wp--preset--spacing--80);padding-left:var(--wp--preset--spacing--80)"><!-- wp:heading -->
<h2 class="wp-block-heading">Howdy!</h2>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p>I'm <a href="https://davemart.in">Dave Martin</a>. This is my <em>playground</em> where I experiment with ideas <em>to make WordPress better</em>.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:block {"ref":129} /-->

<!-- wp:block {"ref":163} /-->

<!-- wp:template-part {"slug":"footer-with-background-color-and-three-columns"} /-->